:root {
    /* HEX */
    --upBlack: #000;
    --upWhite: #fff;
    --upYellow: #fec33e;
    --upRed: #f16264;
    --upGreen: #8dc63f;
    --upBlue: #38b3c7;
    --upDarkGrey: #303432;
    --upLightGrey: #687777;
}