.App-logo {
  height: 30px;
}

.App-header {
  background-color: #282c34;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: white;
}

p{padding-bottom:10px;}

.loader {
  text-align: center;
  width:250px;
  margin: auto;
}
.loader span {
  display: inline-block;
  height: 32px;
  padding-top:6px;
  vertical-align: top;
}

